<!DOCTYPE html>
<html>
  <head>
    <%- include('head') -%>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('header') -%>
      <div class="container-fluid">
        <h1>Profile</h1>
        <form role="form" action="/login" method="POST">
          <div class="form-group">
            <label>Email :</label>
            <label><%= username%></label>
          </div>
          <div class="form-group">
            <label>User name :</label>
            <label><%= pseudo%></label>
          </div>
          <div class="form-group">
            <label>Age :</label>
            <label><%= age%></label>
          </div>
          <div class="form-group">
            <label>Profil type :</label>
            <label><%= profile%></label>
          </div>
        </div>
      </form>
  </body>
</html>
